<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지 </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/adminMain.css"/>
</head>
<body>
<div class="container">
    <div class="adminLogin">
        <h3 class="adminTitle">
            ADMIN LOGIN <br/>
            <span class ="small-adminLogin">관리자 로그인</span>
        </h3>
        <fieldset>

            <form action="/admin/Login" method="post" id="login">
                <label class="login_input">
                    <div class="pre">아이디</div>
                    <input type="text" name="adminId">
                </label>
                <br/>
                <label class="login_input">
                    <div class="pre">비밀번호</div>
                    <input type="password" name="adminPwd">
                </label>
                <button type="submit" class="button">로그인</button>
                <a href="/" class="gohome">홈</a>
            </form>
        </fieldset>
    </div>
</div>
</body>
</html>