<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품목록 페이지</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/adminMain.css"/>
</head>
<body>
<a th:href="@{/admin/adminMain}" class="gohome">뒤로</a>
<h3>< 상품목록 페이지 ></h3>
<a th:href="@{/admin/category/add}">카테고리등록</a>
<a th:href="@{/admin/itemAdd}">상품등록</a>
<br/>
<table class="table">
    <thead>
    <tr>
        <th>상품번호</th>
        <th>상품 </th>
        <th>카테고리 번호</th>
        <th>카테고리 이름</th>
        <th>상품 이름</th>
        <th>상품 가격</th>
        <th>재고 수량</th>
        <th>상품 등록일자</th>
        <th>기타</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="items : ${items}">
        <td th:text="${items.itemNo}"></td>
        <td><img th:src="@{/img/}+${items.itemImgThumb}" /></td>
        <td th:text="${items.category.categoryId}"></td>
        <td th:text="${items.category.categoryName}"></td>
        <td th:text="${items.itemName}"></td>
        <td th:text="${items.itemPrice}"></td>
        <td th:text="${items.itemQuantity}"></td>
        <td th:text="${items.itemRegDate}"></td>
        <td>
        <a href="#" th:href="@{/admin/item/{id}/edit (id=${items.itemNo})}" class="btn btn-primary" role="button">수정</a>
        <a href="#" th:href="@{/admin/item/{id}/delete (id=${items.itemNo})}" class="btn btn-primary" role="button">삭제</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>