<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="menu" th:fragment="navbar">
    <ul class="navbar">
        <li class="current_page_item"><a href="/">Home</a></li>
        <li>
            <a href="/item/list/100">텐트</a>
            <ul>
                <li><a href="/item/list/101">리빙쉘 텐트</a></li>
                <li><a href="/item/list/102">돔형 텐트</a></li>
                <li><a href="/item/list/103">원터치 텐트</a></li>

            </ul>
        </li>
        <li>
            <a href="/item/list/200">타프</a>
            <ul>
                <li><a href="/item/list/201">렉사 타프</a></li>
                <li><a href="/item/list/202">헥사 텐트</a></li>
            </ul>
        </li>
        <li>
            <a href="/item/list/300">테이블</a>
            <ul>
                <li><a href="/item/list/301">접이식 테이블</a></li>
                <li><a href="/item/list/302">조립식 테이블</a></li>
            </ul>
        </li>
        <li>
            <a href="/item/list/400">체어</a>
            <ul>
                <li><a href="/item/list/401">접이식 체어</a></li>
                <li><a href="/item/list/402">조립식 체어</a></li>
            </ul>
        </li>
        <div clss="logout">
            <th:block th:unless="${#strings.isEmpty(session.id)}">
                <li>
                    <a>
                        <th:block th:text="${session.id}+' 님'"/>
                    </a>
                    <!--                    <ul><a href="#">마이페이지</a></ul>-->
                    <ul><a th:href="@{/logout}">로그아웃</a></ul>
                </li>
            </th:block>
        </div>
        <th:block th:if="${#strings.isEmpty(session.id)}">
            <li><a th:href="@{/login}">
                로그인
            </a></li>
        </th:block>

        <!--        <li><a href="/login">로그인</a></li>-->
        <li>
            <a href="/join">회원가입</a>
        </li>
    </ul>
</div>
</html>