.container {
    font-size: 18px;
}

.logout {
    width: 100px;
    height: 15px;
    background-color: #a76ddb;
    margin: 40px;
    margin-bottom: 20px;
    border: 2px solid #75328a;
    border-radius: 10px;
    padding: 40px;
    opacity: 70%;

}
body{
    padding:20px;
}
span {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
}
h3{
    padding:10px;
}
.container ul {
    width: 100px;
    height: 30px;
    background-color: #a76ddb;
    margin: 40px;
    margin-bottom: 20px;
    border: 2px solid #75328a;
    border-radius: 10px;
    padding: 10px;
    text-algin: center;
    color: #fff;
}

li {
    text-align: center;

}
a{
    padding:10px;
}
.table {
    border: 1px solid #454545;
    border-collapse:collapse;
    width: 80%;

}
.table tr, th, td{
    border: 1px solid #454545;
    padding: 10px;
    text-align:center;
    vertical-align:middle;
}

#login {
    display: inline-block;
    align-items: center;
    justify-content: center;
}
#login .login_input{
    padding:15px;
}

.gohome{
    display: inline-block;
    border: 1px solid #D5C2EE;
    padding:10px;
}

.button{
    padding:5px;
    margin:10px;
}
form{
    padding:15px;
}
img{
    width: 200px;
    height: 100px;
    object-fit: cover;
}
