@charset "UTF-8";

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 200;
	color: #454545;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: rebeccapurple;
}

h2 {
	font-size: 2.5em;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 200%;
}

strong {
}

a {
	color: #2F2F2F;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/* WRAPPER */

#wrapper {
	width: 1200px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	background: #FFFFFF;
}
.search{
	width: 960px;
	height: 50px;
	margin: 0px auto 0px auto;
	color: rebeccapurple;
	text-align: center;
}
.searchtext {
	width: 480px;
	height: 33px;
	padding-left: 10px;
	border: 1px solid #D5C2EE;
}
.searchsubmit{
	width:50px;
	height:38px;
	border: 1px #D5C2EE solid;
	background: #D5C2EE;
}

.container {
	width: 980px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */


/* Logo */

#logo {
	width: 960px;
	height: 100px;
	margin: 0px auto 0px auto;
	color: rebeccapurple;
	text-align: center;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	line-height: 100px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: lowercase;
	font-size: 5em;
	color: #1F1F1F;
	display:inline-block;
}

#logo img{
	height:70px;
	width:70px;
	margin-top:10px;
	display:inline-block;
}

#logo h1 span {
	color: #1F1F1F;
}

#logo p {
	text-align: center;
	font-size: 16px;
	color: #595959;
}

#logo p a {
	color: #595959;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: rebeccapurple;
}

/** MENU */

#menu {
	width: 1100px;
	height: 70px;
	margin: 0px 50px;
	background: rebeccapurple;
	font-size: 20px;
	color: #000000;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 29px 5px 28px;
	line-height: 70px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	font-weight: 200;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
}

#menu .last {
	border-right: none;
}

#menu .navbar {
	list-style-type: none;
	height:40px;
	margin:0;
	background: rebeccapurple;
}

#menu .navbar li{
	float:left;
	position:relative;
	text-align: center;
}

#menu .navbar li a{
	display:block;
	width:100px;
	height:65px;
	color:#fff;
	text-decoration:none;
}

#menu .navbar li a:hover {
	background: #ffffff;
	color: rebeccapurple;
	font-weight:bold;
}

#menu .navbar ul {
	list-style: none;
	position: absolute;
	background: #D5C2EE;
	color:#ffffff;
	padding-bottom:20px;
	width: 155px;
	text-align: center;
	opacity: 0;
	visibility: hidden;
}

#menu .navbar ul li{
	float:none;
	text-align: center;
}

#menu .navbar ul a{
	color: black;
}

#menu .navbar ul li:hover a{
	background: #ffffff;
	font-weight:bold;
}


#menu .navbar li:hover ul{
	opacity:1;
	text-align: center;
	visibility: visible;
}
#menu .navbar li:hover ul li{
	height:35px;
	overflow:visible;
	padding:0;
}

/** PAGE */

#page {
}

/** CONTENT */

.items_view {
	position: relative;
	padding: 0 0 0 535px;
	width: 1150px;
	box-sizing: border-box;
}

.items_view summary
{
	visibility: hidden;
}

.items_view .img {
	position: absolute;
	left: 0;
	top: 15px;
	margin: 0 50px;
}

.items_view .img > img {
	width: 450px;
	height: 450px;
	border:1px solid #e8e8e8;
}

.items_view .img li:after {
	content: "";
	display: block;
	clear: both;
}

.items_view .img li {
	float: left;
	padding: 10px 10px 0 0;
}

.items_view .img li.on img {
	border-color: #454545;
}

.items_view .img li img {
	width: 70px;
	height: 70px;
	border: 1px solid #e8e8e8;

}

.items_view h2 {
	margin: 0 0 15px;
	padding: 0 0 20px;
	border-bottom: 2px solid #333;
	font-size: 24px;
	color: #232323;
	line-height: 26px;
}

.items_view table th, .items_view table td {
	padding: 14px 0;
	font-size: 15px;
	color: #444;
	text-align: left;
}

.items_view table td.price {
	font-size: 22px;
}

.items_view table td.total {
	font-size: 19px;
	color: rebeccapurple;
}

.items_view table td.total b {
	font-size: 22px;
}

.items_view table .length {
	position: relative;
	width: 71px;
	height: 32px;
	border:1px solid #c6c6c6;
}

.items_view table .length input {
	width: 45px;
	height: 32px;
	border:none;
	border-right:1px solid #c6c6c6;
	text-align:center;
}

.items_view table .length a {
	overflow: hidden;
	position: absolute;
	right: 0;
	width: 26px;
	height: 16px; color:transparent;
}

.items_view table .length a:nth-of-type(1) {
	top: 0;
	background: url("../img/ico_up.PNG") no-repeat center;
}

.items_view table .length a:nth-of-type(2) {
	bottom:0; background: url("../img/ico_down.PNG") no-repeat center;
	border-top:1px solid #c6c6c6;
}

.items_view table select {
	width:100%;
	border:1px solid #c6c6c6;
	box-sizing: border-box;
	background: url("../img/ico_select.PNG") no-repeat right 11px center;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
}

.items_view table select::-ms-expand {
	display: none;
}

.items_view .btns {
	padding: 40px 0 0;
	text-align: center;
	margin-bottom: 50px;
}

.items_view .btns > a {
	display: inline-block;
	width: 136px;
	height: 42px;
	border-radius: 2px;
	font-size: 15px;
	font-style: inherit;
	color:#fff;
	line-height: 42px;
}

.items_view .btns > a.btn1 {
	background: #666;
}

.items_view .btns > a.btn2 {
	background: rebeccapurple;
}


/** SIDEBAR */

#sidebar {
}

#banner {
	width: 1100px;
	margin: 10px auto 0px auto;
}


/* Footer */

#footer {
	overflow: hidden;
	width: 1100px;
	height: 100px;
	margin: 0 auto;
	border-top: 1px solid #CBCBCB;
}

#footer p {
	margin: 0;
	padding-top: 40px;
	line-height: normal;
	text-align: center;
	color: #454545;
}

#footer a {
	color: #2F2F2F;
}

/* Footer Content */

#footer-content {
	overflow: hidden;
	width: 1100px;
	padding: 50px;
	background: #ECECEC;
	text-shadow: 1px 1px 0px #FFFFFF;
	color: #666666;
}

#footer-content h2 {
	padding: 0px 0px 30px 0px;
	text-transform: uppercase;
	font-size: 24px;
}

#footer-content #fbox1 {
	float: left;
	width: 600px;
	margin-right: 30px;
}

#footer-content #fbox2 {
	float: left;
	width: 220px;
}

#footer-content #fbox3 {
	float: right;
	width: 220px;
}
