@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body,dl,dt,dd,ul,ol,li,h2,h3,h4,h5,h6,form,fieldset,p,button,table,th,td,pre {
    margin:0;
    padding:0;
}

body,dl,dt,dd,h2,h3,h4,h5,h6,form,fieldset,p,th,td,input,textarea,select,button,pre{
    font-family:'Nanum Gothic', sans-serif;
    font-size:16px;
    color:#222;
}

textarea {
    width:100%;
}

select,input, button {
    vertical-align:middle;
}

ul, ol {
    list-style-type:none;
}

.hide,legend,hr,caption span {
    position:absolute;
    left:-3000%;
}

em, address {
    font-style:normal;
}

table {
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
}

a {
    color:#666; text-decoration:none;}
a:focus,
a:hover { text-decoration:none;}
fieldset, img, button{border:0;}

input[type=text]::-ms-clear {display: none;}

select { padding:0 0 0 5px; height:38px; border:1px solid #e3e3e3;}