html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 200;
	color: #454545;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: rebeccapurple;
}

h2 {
	font-size: 2.5em;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 200%;
}

strong {
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
	width: 1200px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	background: #FFFFFF;
}
.search{
	width: 960px;
	height: 50px;
	margin: 0px auto 0px auto;
	color: rebeccapurple;
	text-align: center;
}
.searchtext {
	width: 480px;
	height: 33px;
	padding-left: 10px;
	border: 1px solid #D5C2EE;
}
.searchsubmit{
	width:50px;
	height:38px;
	border: 1px #D5C2EE solid;
	background: #D5C2EE;
}

.container {
	width: 980px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */


/* Logo */

#logo {
	width: 960px;
	height: 100px;
	margin: 0px auto 0px auto;
	color: rebeccapurple;
	text-align: center;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	line-height: 100px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: lowercase;
	font-size: 5em;
	color: #1F1F1F;
	display:inline-block;
}

#logo img{
	height:70px;
	width:70px;
	margin-top:10px;
	display:inline-block;
}

#logo h1 span {
	color: #1F1F1F;
}

#logo p {
	text-align: center;
	font-size: 16px;
	color: #595959;
}

#logo p a {
	color: #595959;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: rebeccapurple;
}

/** MENU */

#menu {
	width: 1100px;
	height: 70px;
	margin: 0px 50px;
	background: rebeccapurple;
	font-size: 20px;
	color: #000000;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 29px 5px 28px;
	line-height: 70px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	font-weight: 200;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
}

#menu .last {
	border-right: none;
}

#menu .navbar {
	list-style-type: none;
	height:40px;
	margin:0;
	background: rebeccapurple;
}

#menu .navbar li{
	float:left;
	position:relative;
	text-align: center;
}

#menu .navbar li a{
	display:block;
	width:100px;
	height:65px;
	color:#fff;
	text-decoration:none;
}

#menu .navbar li a:hover {
	background: #ffffff;
	color: rebeccapurple;
	font-weight:bold;
}

#menu .navbar ul {
	list-style: none;
	position: absolute;
	background: #D5C2EE;
	color:#ffffff;
	padding-bottom:20px;
	width: 155px;
	text-align: center;
	opacity: 0;
	visibility: hidden;
}

#menu .navbar ul li{
	float:none;
	text-align: center;
}

#menu .navbar ul a{
	color: black;
}

#menu .navbar ul li:hover a{
	background: #ffffff;
	font-weight:bold;
}


#menu .navbar li:hover ul{
	opacity:1;
	text-align: center;
	visibility: visible;
}
#menu .navbar li:hover ul li{
	height:35px;
	overflow:visible;
	padding:0;
}
/* 메인페이지 상품 */
.productcontainer{
	width: 1100px;
	height: 70px;
	margin: 0px 50px;
}

.productcontainer h2{
	margin: 20px 15px 20px 15px;
	padding-left: 10px;
	display:inline;
}

.productcontainer h2 a{
	color:rebeccapurple;
	margin:15px 0px 15px 0px;
	padding-left:10px;
}

.productcontainer h4{
	margin: 10px 0px 10px 0px;
	padding-left: 10px;
	float:right;
}

.productcontainer img{
	width:265px;
	height:250px;

}
.productcontainer .newthumb{
	float:left;
	margin: 0 5px 0 5px;
}

.productcontainer p{
	margin:0;
}

.productcontainer a{
	text-decoration: none;
}

.productcontainer a:hover{
	text-decoration: underline;
}

/*  상품리스트 페이지 - 상품목록  */
#productlist{
	width: 1100px;
	height: 70px;
	margin: 0px 50px;
}

#productlist h2{
	margin: 10px 0px 10px 0px;
	padding-left: 10px;
}

#productlist img{
	width:265px;
	height:250px;

}
#productlist .newthumb{
	float:left;
	margin: 0 5px 0 5px;
}

#productlist p{
	margin:0;
}

#productlist a{
	text-decoration: none;
}

#productlist h2 a{
	color:rebeccapurple;
	margin:15px 0px 15px 0px;
	padding-left:10px;
}

#productlist a:hover{
	text-decoration: underline;
}

/** PAGING */

#page {

}

/** CONTENT */

#content {
}

/** SIDEBAR */

#sidebar {
}

/* Footer */

#footer {
	overflow: hidden;
	width: 1100px;
	height: 100px;
	margin: 0 auto;
	border-top: 1px solid #CBCBCB;
}

#footer p {
	margin: 0;
	padding-top: 40px;
	line-height: normal;
	text-align: center;
	color: #454545;
}

#footer a {
	color: #2F2F2F;
}

/* Footer Content */

#footer-content {
	overflow: hidden;
	width: 1100px;
	padding: 50px;
	background: #ECECEC;
	text-shadow: 1px 1px 0px #FFFFFF;
	color: #666666;
}

#footer-content h2 {
	padding: 0px 0px 30px 0px;
	text-transform: uppercase;
	font-size: 24px;
}

#footer-content #fbox1 {
	float: left;
	width: 600px;
	margin-right: 30px;
}

#footer-content #fbox2 {
	float: left;
	width: 220px;
}

#footer-content #fbox3 {
	float: right;
	width: 220px;
}

/* Welcome */


#welcome {
	width: 1100px;
	margin: 0px auto;
	padding: 30px 50px;
}

#welcome .content {
	padding: 0px 0px 40px 0px;
	border-bottom: 1px solid #D4D4D4;
}

#welcome h2 {
	padding: 0px 0px 20px 0px;
}

#welcome h2 a {
	text-decoration: none;
	color: #000000;
}



/* Three Columns */

#three-columns {
	overflow: hidden;
	width: 1100px;
	margin: 0px auto;
	padding: 50px 50px 0px 50px;
}

#three-columns a{
	text-decoration: none;
}
#three-columns .content {
	overflow: hidden;
	padding: 0px 0px 50px 0px;
}

#three-columns h2 {
	padding: 0px 0px 20px 40px;
	background: url(images/icon.png) no-repeat left 13px;
	color: #000000;
}

#three-columns #column1 {
	float: left;
	width: 300px;
	margin-right: 40px;
}

#three-columns #column1 img{
	width:300px;
	height:300px;
}

#three-columns #column2 {
	float: left;
	width: 430px;

}

#three-columns #column3 {
	float: right;
	width: 290px;
}

/* Two Columns */

#two-columns {
	overflow: hidden;
	width: 1100px;
	margin: 0px auto;
	padding: 40px 50px 50px 50px;
}

#two-columns h2 {
	padding: 0px 0px 20px 0px;
	color: #000000;
}

#two-columns #col1 {
	float: right;
	width: 740px;
}

#two-columns #col2 {
	float: left;
	width: 320px;
}


/* List Style 1 */

.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style1 li {
	padding: 20px 0px 20px 0px;
	border-top: 1px solid #D4D4D4;
}

.list-style1 .date {
	font-weight: bold;
	color: #212121;
}

.list-style1 img {
	float: left;
	margin-right: 25px;
}

.list-style1 .first {
	padding-top: 0px;
	border-top: none;
}


/* List Style 2 */

.list-style2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	list-style: none;
}

.list-style2 li {
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #D4D4D4;
}


.list-style2 .first {
	padding-top: 0px;
	border-top: none;
}

/* List Style 1 */

.link-style {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 15px;
	background: #000000;
	border-radius: 5px;
	letter-spacing: 1px;
	text-decoration: none;
	text-shadow: 1px 0px 1px #5C1111;
	color: #FFFFFF;
}

#banner {
	width: 1100px;
	margin: 10px auto 0px auto;
}








