
body{
    padding:30px;
    background-color:#f4f4f4;
}
h1,
h4{
    padding-bottom:20px;
}
a{
    color: rebeccapurple;
    text-decoration:none;
}
a:hover {
    color: #ffff;
    background: rebeccapurple;
    text-decoration: none;
}
.navtop .logo_img{
    display : inline-block;
    width:80px;
    height:80px;
    margin-right:auto;
    margin-left:auto;
    float:left;
}
.navtop .index{
    float:left;
}
.search .input{
    width: 480px;
    height: 33px;
    padding-left:10px;
    border:1px solid #D5C2EE;
}
.search .submit{
    width:50px;
    height:37px;
    background: #D5C2EE;
}
.login li{
    float:right;
    list-style-type: none;
    display:inline;
    padding: 3px;
}

.category {
    list-style-type: none;
    height:40px;
    padding:5px 1px;
    margin:0;
    background: rebeccapurple;
}

.category li{
    float:left;
    position:relative;
    text-align: center;
}

.category li a{
    display:block;
    width:100px;
    color:#fff;
    text-decoration:none;
}

.category li a:hover {
    background: #ffffff;
    color: rebeccapurple;
    font-weight:bold;

}

.category ul {
    list-style: none;
    position: absolute;
    background: #D5C2EE;
    color:#ffffff;
    left: 0;
    top: 40px;
    width: 105px;
    text-align: center;
    opacity: 0;
}

.category ul li{
    float:none;
    text-align: center;
}

.category ul a{
    color: black;
}

.category ul li:hover a{
    background: #ffffff;
    font-weight:bold;
}


.category li:hover ul{
    opacity:1;
    text-align: center;
}
.category li:hover ul li{
    height:35px;
    overflow:visible;
    padding:0;
}


.newproduct{
    width:1500px;
    margin:10px auto;
    padding-left: 10px;
    display:inline-block;
}
.newproduct img{
    width:300px;
    margin: 10px 10px;
    border:1px;
    float:left;
}
.newproduct a{
    text-decoration: none;
}
