<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "description" content="Welcome to  in Seoul, Korea">
    <meta name = "keyword" content="camping, tent, mealkit">

<title>캠핑가지</title>
</head>
<body>
<header>
    <div class="navtop">
        <img class="logo_img" src="../static/img/logo.jpg" alt="logo_img">
        <h1><a href="index2.html">캠핑가지</a></h1>
        <div id="search">
            <form action="product/list.html?productName=text" >
                <input class="input" type="text" name=search placeholder="검색어를 입력해주세요." size="50">
                <input class="submit" type="submit" value="검색">
            </form>
        </div>
        <ul>
            <li><a href="login.html">로그인</a></li>
            <li><a href="join.html">회원가입</a></li>
        </ul>
    </div>
    <div class="navbar">
        <ul>
            <li parameters="?cateNo=1"><a href="/product/list.html?cateNo=1">텐트/타프</a></li>
            <li parameters="?cateNo=2"><a href="/product/list.html?cateNo=2">테이블/체어</a></li>
            <li parameters="?cateNo=3"><a href="/product/list.html?cateNo=3">침낭/매트</a></li>
            <li parameters="?cateNo=4"><a href="/product/list.html?cateNo=4">밀키트</a></li>
        </ul>
    </div>
</header>

<section>
    <img alt="" src="../static/img/tent1.jpg" width="400" border="1">
    <img alt="" src="../static/img/tent2.jpg" width="400" border="1">
</section>
<footer id="main-footer">
    <p>CampingGaji &copy; 2021 ALL RIGHT Reserved</p>
</footer>
</body>
</html>