<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>캠핑가지_패스트캠프 마운트프로 원터치팝업텐트 L 사이즈 [블랙]</title>
	<link rel="stylesheet" href="/css/itemsViewDefault.css">
	<link rel="stylesheet" href="/css/itemsViewStyle.css">
</head>
<body>
		<div class="items_view">
			<h2>패스트캠프 마운트프로 원터치팝업텐트 L 사이즈 [블랙]</h2>
			<table>
				<caption>
					<details class="hide">
						<summary>상품정보</summary>
						판매가, 상품코드 및 결제금액 안내
					</details>
				</caption>
				<colgroup>
					<col style="width: 175px;">
					<col>
				</colgroup>
				<tbody>
					<tr>
						<th>판매가</th>
						<td class="price">299,000</td>
					</tr>
					<tr>
						<th>상품코드</th>
						<td>FCMP10325</td>
					</tr>
					<tr>
						<th>국내·해외배송</th>
						<td>국내배송</td>
					</tr>
					<tr>
						<th>배송 방법</th>
						<td>택배</td>
					</tr>
					<tr>
						<th>배송비</th>
						<td>무료배송</td>
					</tr>
					<tr>
						<th>구매수량</th>
						<td>
							<div class="length">
								<input type="number" min="1" value="1">
								<a href="#a">증가</a>
								<a href="#a">감소</a>
							</div>
						</td>
					</tr>
					<tr>
						<th>옵션선택</th>
						<td><select>
								<option>기본</option>
						</select></td>
					</tr>
					<tr>
						<th>결제금액</th>
						<td class="total"><b>299,000</b>원</td>
					</tr>
				</tbody>
			</table>
			<div class="img">
				<img src="/images/Fastcamp_onetouch_tent1.JPG" alt="">
				<ul>
					<li class="on"><a href="#a"><img src="/images/Fastcamp_onetouch_tent1.JPG" alt=""></a></li>
					<li><a href="#a"><img src="/images/Fastcamp_onetouch_tent1-1.JPG" alt=""></a></li>
					<li><a href="#a"><img src="/images/Fastcamp_onetouch_tent1-2.JPG" alt=""></a></li>
				</ul>
			</div>
			<div class="btns">
				<a href="#a" class="btn1">장바구니</a>
				<a href="#a" class="btn2">구매하기</a>
			</div>
		</div>
</body>
</html>