<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>회원가입</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/join.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div th:replace="/fragments/header.html :: header"></div>
        <!-- end #header -->
        <div th:replace="/fragments/navbar.html :: navbar"></div>

        <div id="contents_sub">
            <div class="hanblank_60"></div>
            <form id="joinForm" name="joinForm" action="#" method="POST">
                <h3 class=" ">기본정보</h3>
                <p class="required">
                    <img src="//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif" alt="필수">
                    필수입력사항
                </p>
                <div class="ec-base-table typeWrite">
                    <table border="1" summary>
                        <caption>회원 기본정보</caption>
                        <colgroup>
                            <col style="width:150px;">
                            <col style="width:auto;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row" valign="middle">아이디 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif" alt="필수">
                            </th>
                            <td><input id="member_id" name="member_id"
                                       fw-filter="isFill&amp;isFill&amp;isMin[4]&amp;isMax[16]&amp;isIdentity"
                                       fw-label="아이디" fw-msg=""
                                       class="inputTypeText" placeholder="" value="" type="text"> <span
                                    id="idMsg"></span>
                                (영문소문자/숫자,
                                4~16자)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">비밀번호 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif"
                                    alt="필수">
                            </th>
                            <td>
                                <div class="eTooltip">
                                    <input id="passwd" name="passwd" fw-filter="isFill&amp;isMin[4]&amp;isMax[16]"
                                           fw-label="비밀번호"
                                           fw-msg="" autocomplete="off" maxlength="16" 0="disabled" value=""
                                           type="password">
                                    <div class="ec-base-tooltip typeUpper">
                                        <div class="content">
                                            <strong class="txtWarn">※ 비밀번호 입력 조건</strong>
                                            <ul class="ec-base-help typeDash gBlank10 txtWarn">

                                                - 대소문자/숫자/특수문자 중 2가지 이상 조합, 10자~16자<br>
                                                - 입력 가능 특수문자 <br>
                                                &nbsp;&nbsp;&nbsp; ~ ` ! @ # $ % ^ ( ) _ - = { } [ ] | ; : &lt; &gt; , .
                                                ? /<br>
                                                - 공백 입력 불가능
                                            </ul>
                                        </div>
                                        <a href="#none" class="btnClose" tabindex="-1"><img
                                                src="//img.echosting.cafe24.com/skin/base/common/btn_close_tip.gif"
                                                alt="닫기"></a>
                                        <span class="edge"></span>
                                    </div>
                                </div>
                                (영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 10자~16자)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">비밀번호 확인 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif"
                                    alt="" title="">
                            </th>
                            <td>
                                <input id="user_passwd_confirm" name="user_passwd_confirm"
                                       fw-filter="isFill&amp;isMatch[passwd]"
                                       fw-label="비밀번호 확인" fw-msg="비밀번호가 일치하지 않습니다." autocomplete="off" maxlength="16"
                                       0="disabled" value=""
                                       type="password">
                                <span id="pwConfirmMsg"></span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" id="nameTitle">이름
                                <img src="//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif" alt="필수">
                            </th>
                            <td>
                  <span id="nameContents">
                    <input type="text" name="name" id="name" maxlength="20">
                  </span>
                                <span id="under14Msg" class="displaynone">14세 미만 사용자는 법정대리인 동의가 필요합니다.</span>
                            </td>
                        </tr>
                        <tr class="displaynone">
                            <th scope="row">이름(영문) <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif"
                                    class="displaynone" alt="필수"></th>
                            <td><input id="name_en" name="name_en" fw-filter="isMax[30]&amp;isAlphaSpace"
                                       fw-label="이름(영문)"
                                       fw-msg="" class="ec-member-name" placeholder="" maxlength="30" value=""
                                       type="text">
                                (이름 - 성 형식으로
                                입력해 주세요.)
                            </td>
                        </tr>
                        <tr class="">
                            <th scope="row">주소 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif"
                                    class=""
                                    alt="필수"></th>
                            <td>
                                <input type="text" id="sample6_postcode" placeholder="우편번호">
                                <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                                <input type="text" id="sample6_address" placeholder="주소"><br>
                                <input type="text" id="sample6_detailAddress" placeholder="상세주소">
                                <input type="text" id="sample6_extraAddress" placeholder="참고항목">

                                <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                                <script>
                                    function sample6_execDaumPostcode() {
                                        new daum.Postcode({
                                            oncomplete: function (data) {
                                                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                                                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                                var addr = ''; // 주소 변수
                                                var extraAddr = ''; // 참고항목 변수

                                                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                                                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                                    addr = data.roadAddress;
                                                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                                    addr = data.jibunAddress;
                                                }

                                                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                                                if (data.userSelectedType === 'R') {
                                                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                                                        extraAddr += data.bname;
                                                    }
                                                    // 건물명이 있고, 공동주택일 경우 추가한다.
                                                    if (data.buildingName !== '' && data.apartment === 'Y') {
                                                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                                    }
                                                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                                    if (extraAddr !== '') {
                                                        extraAddr = ' (' + extraAddr + ')';
                                                    }
                                                    // 조합된 참고항목을 해당 필드에 넣는다.
                                                    document.getElementById("sample6_extraAddress").value = extraAddr;

                                                } else {
                                                    document.getElementById("sample6_extraAddress").value = '';
                                                }

                                                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                                document.getElementById('sample6_postcode').value = data.zonecode;
                                                document.getElementById("sample6_address").value = addr;
                                                // 커서를 상세주소 필드로 이동한다.
                                                document.getElementById("sample6_detailAddress").focus();
                                            }
                                        }).open();
                                    }
                                </script>
                            </td>
                        </tr>

                        <tr class>
                            <th scope="row">휴대전화 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif"
                                    class="" alt="필수">
                            </th>
                            <td>
                                <select id="mobile1" name="mobile[]" fw-filter="isNumber&amp;isFill" fw-label="휴대전화"
                                        fw-alone="N"
                                        fw-msg="" class="select">
                                    <option value="010">010</option>
                                    <option value="011">011</option>
                                    <option value="016">016</option>
                                    <option value="017">017</option>
                                    <option value="018">018</option>
                                    <option value="019">019</option>
                                </select>
                                -
                                <input id="mobile2" name="mobile[]" maxlength="4" fw-filter="isNumber&amp;isFill"
                                       fw-label="휴대전화"
                                       fw-alone="N" fw-msg="" value="" type="text">-<input id="mobile3" name="mobile[]"
                                                                                           maxlength="4"
                                                                                           fw-filter="isNumber&amp;isFill"
                                                                                           fw-label="휴대전화" fw-alone="N"
                                                                                           fw-msg="" value=""
                                                                                           type="text">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">이메일 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif"
                                    alt="필수">
                            </th>
                            <td><input id="email1" name="email1" fw-filter="isFill&amp;isEmail" fw-label="이메일"
                                       fw-alone="N"
                                       fw-msg="" value="" type="text"> <span id="emailMsg"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ec-base-button" ::after>
                    <a href="#none" class="btnSubmitFix sizeM" onclick="memberJoinAction()">회원가입</a>

                </div>
            </form>

        </div>
    </div>
</body>
</html>