<!DOCTYPE html PUBLIC "-//W3C//DTD HTMl 4.01 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns= "//www.w3.org/1999/xhtml" xml: lang="ko" lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="data:;base64,=" />
  <title>PayFinish</title>
</head>
<body>
    <script>
        alert('결제가 완료되었습니다');
    </script>

    <div class="orderTitle" align=center>
        <h1>주문 확인서</h1>
    </div>

</body>
</html>
