<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>캠핑가지</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <a href="/"><img alt="logo" src="/img/logo.jpg"></a>
            <h1><a href="/">캠핑가지</a></h1>
        </div>
        <div class="search">
            <form action="#" method="post">
                <input class="searchtext" type="text" name=search placeholder="검색어를 입력해주세요." size="50">
                <input class="searchsubmit" type="submit" value="검색">
            </form>
        </div>
    </div>
    <div th:replace="/fragments/navbar.html :: navbar"></div>
    <div id="productlist">
        <h2>텐트/타프 > 리빙쉘 텐트</h2>
        <div>
            <div class="newthumb">
                <a href="#"><img alt="new1" src="/img/tent1.jpg"></a>
                <p><a href="#"><b>브랜드</b></a></p>
                <p>상품명 : <a href="#">텐트1</a></p>
                <p>가격 : <a href="#">150,000원</a></p>
            </div>
            <div class="newthumb">
                <a href="#"><img alt="new1" src="/img/tent2.jpg"></a>
                <p><a href="#"><b>브랜드</b></a></p>
                <p>상품명 : <a href="#">텐트2</a></p>
                <p>가격 : <a href="#">100,000원</a></p>
            </div>
            <div class="newthumb">
                <a href="#"><img alt="new1" src="/img/tent3.jpg"></a>
                <p><a href="#"><b>브랜드</b></a></p>
                <p>상품명 : <a href="#">텐트3</a></p>
                <p>가격 : <a href="#">550,000원</a></p>
            </div>
            <div class="newthumb">
                <a href="#"><img alt="new1" src="/img/tent4.jpg"></a>
                <p><a href="#"><b>브랜드</b></a></p>
                <p>상품명 : <a href="#">텐트4</a></p>
                <p>가격 : <a href="#">300,000원</a></p>
            </div>
            <div class="newthumb">
                <a href="#"><img alt="new1" src="/img/tent5.jpg"></a>
                <p><a href="#"><b>브랜드</b></a></p>
                <p>상품명 : <a href="#">텐트5</a></p>
                <p>가격 : <a href="#">320,000원</a></p>
            </div>
        </div>
    </div>
    <div id="page">
        < 1 2 3 4 5 >
    </div>

    <div id="footer">
        <p>Copyright&copy; 2021 CampingGaji. All rights reserved. Photos by <a href="https://unsplash.com/">Fotogrph</a></p>
    </div>
</div>
</body>
</html>