.ec-base-box.typeThin {
  margin: 0 0 20px;
  padding: 0;
  border: 0 !important;
}

.login {
  padding: 49px;
  color: #2e2e2e;
  margin: 0%;
}

.div {
  display: block;
}

.Title {
  width: 100%;
  text-align: center;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 30px;
}

.h1, h3 {
  margin: 0;
}

h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.Title span {
  font-size: 13px;
  font-weight: 400;
  color: #c5c5c5;
}

fieldset {
  position: relative;
  width: 370px;
  margin: 0 auto;
  padding: 0 0 0 9px;
  margin: 0;
  padding: 0;
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-image: initial;
}

.fieldset legend {
  display: block;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

legend {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 0;
  height: 0;
  line-height: 0;
}


.login fieldset {
  position: relative;
  width: 370px;
  margin: 0 auto;
  padding: 0 0 0 9px;
  border: none;
  vertical-align: top;
}

.id {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  margin: 0 0 8px;
  color: #8F8F91;
}

.xans-member-login .login fieldset input[type=inputTypeText] {
  width: 100%;
  height: 28px;
  line-height: 28px;
  padding: 2px 2px 2px 7px;
  border: 0 none;
  color: #8F8F91;
  border-bottom: 1px solid #ccc;
  text-indent: 50px;
}

.xans-member-login .login fieldset input[type=text], .xans-member-login .login fieldset input[type=password] {
  width: 100%;
  height: 28px;
  line-height: 28px;
  padding: 2px 2px 2px 7px;
  border: 0 none;
  color: #8F8F91;
  border-bottom: 1px solid #ccc;
  text-indent: 50px;
}

.login fieldset .pre {
  position: absolute;
  font-size: 2px;
  margin-top: 6px;
  margin-left: 4px;
  margin-bottom: 2px;
}

.login fieldset .password {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  margin: 0 0 8px;
  color: #8F8F91;
}

.Loginbtn {
  text-align:center;
  text-decoration: none;
  color: #000;
}

.Loginbtn span {
  width: 370px;
  height: 36px;
  line-height: 36px;
  display: block;
  margin-top: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.hangrd_1 {
  background: #8b30e0;
}

.fieldset .snsArea {
  padding: 0 0 30px;
  border-bottom: 1px solid #e9e9e9;
}

.kakaoLogin {
  margin: center;
  padding: center;
  background: none;
}

.ul {
  overflow: hidden;
  padding: 20px 0 5px;
  margin: 0;
  border: 0;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.ec-base-button {
  padding: 10px 0;
  text-align: center;
}

.ec-base-button[class*="gColumn"] {
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.xans-member-login .login fieldset li:after {
  position: relative;
  top: 2px;
  right: -10px;
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  border-right: 1px solid #d9d9d9;
}

.fieldset li {
  float: left;
  padding: 0 9px 0 13px;
}

.li {
  list-style: none;
  text-align: -webkit-match-parent;
  cursor: pointer;
}

.xans-member-login .login fieldset li a {
  color: #2e2e2e;
}